IO_LOC  "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33;

IO_LOC  "led" 15;
IO_PORT "led" IO_TYPE=LVCMOS33;

IO_LOC  "led" 16;
IO_PORT "led" IO_TYPE=LVCMOS33;

IO_LOC  "led" 17;
IO_PORT "led" IO_TYPE=LVCMOS33;

IO_LOC  "led" 18;
IO_PORT "led" IO_TYPE=LVCMOS33;

IO_LOC  "led" 19;
IO_PORT "led" IO_TYPE=LVCMOS33;

IO_LOC  "led" 20;
IO_PORT "led" IO_TYPE=LVCMOS33;

IO_LOC  "btn1" 88;
IO_PORT "btn1" IO_TYPE=LVCMOS33;

IO_LOC  "btn2" 87;
IO_PORT "btn2" IO_TYPE=LVCMOS33;
